* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #333;
	overflow-x: hidden;
}

.v-header {
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
}

.container {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}

.videoInsert {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
	overflow: hidden;
}

﻿
.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-height: 100%;
	min-width: 100%;
}

.header-overlay {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
	background: #31678e;
	opacity: 0.85;
}

.header-content {
	z-index: 2;
}

.header-content h1 {
	font-size: 50px;
	margin-bottom: 0;
}

.header-content p {
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
}

.btn {
	background: #ff8040;
	color: #fff;
	font-size: 1.2rem;
	padding: 1rem 2rem;
	text-decoration: none;
}

.section {
	padding: 20px 0;
}

.section-b {
	background: #333;
	color: #fff;
}

.imageAlternative {
	display: none;
}

@media only screen and ( max-width: 500px) {
	.videoInsert {
		display: none;
	}
	#ingramLogo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}

	/* .imageAlternative{
     display: block;
   } */
}

@media ( max-width :960px) {
	.container {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}